PORT=3000


DB_HOST=10.232.112.216

DB_PORT=3306

DB_USER=usuari

DB_PASSWORD=1234

DB_NAME=marketPulse


RAPIDAPI_KEY=c97e2ba546msh2f37ad1261f4139p1b6f

RAPIDAPI_HOST=yahoo-finance-real-time1.p.rapidapi.com


SESSION_SECRET=super_secret_key
