DB_HOST=10.232.112.216

DB_PORT=3306

DB_USER=usuari

DB_PASSWORD=1234

DB_NAME=marketPulse


CHATBOT_IP=10.232.112.131
CHATBOT_PORT=1234


RAPIDAPI_KEY=xc97e2ba546xmsh2f37ad126x1f4139p1b6f

RAPIDAPI_HOST=yahoo-finance-real-time1.p.rapidapi.com


SESSION_SECRET=super_secret_key
